body {
    background: #eee;
}

.section-title {
    color: #333;
}

/* welcome.blade.php */
.bg {
    background-image: url('/img/_backgrounds_001.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;   
}

.main-title {
    color: #fff;
}

.top-list {
    list-style: none;
    display: inline-block;
}

.top-list li {
    text-align: left;
}

/* uploader.blade.php */
.input-img {
    margin-bottom: 15px;
}

.modal-btns {
    text-align: right;
}

/* components/photo.blade.php */
.photo-container {
    height: 350px;
}

.photo-item {
    height: 250px;
    object-fit: cover;
}

.del-btn, .like-btn {
    display: inline-block;
}


/* navtab.blade.php */
.nav-tabs {
    border-bottom: solid 1px #b8c8d6;
}

.mypage-navtab.active {
    background-color: #b8c8d6!important;
    border-bottom-color: #b8c8d6!important;
}

/* components/favorite_btn.blade.php */
/* .fv-btn form button {
    color: #ce6897;
    font-size: 18px;
}

.fv-btn form button:hover {
    color: #a55050;
    text-decoration: none;
} */

.fvbtn {
    color: #ce6897;
}

.fvbtn:hover {
    color: #a55050;
}

.heart {
    margin-left: 5px;
}